@media (max-width: 1440px) {
  #section__form--dimesions {
    height: 40vh;
  }
  .container__input {
    height: 40%;
    width: 30%;
  }
  #form__input {
    height: 80%;
    width: 80%;
    font-size: 30px;
  }
  .fa-solid {
    font-size: 25px;
  }
  #form__button {
    font-size: 13px;
    padding: 5px 25px;
  }
  #section__results {
    height: 60vh;
  }
  .container__pizza {
    gap: 5px;
  }
  .container__pizza h3,
  .container__pizza h4 {
    font-size: 18px;
  }
  .img__pizza--card {
    height: 280px;
  }
}
@media (max-width: 1050px) {
  .img__pizza--card {
    height: 260px;
  }
}

@media (max-width: 960px) {
  h1 {
    font-size: 20px;
  }
  h2 {
    font-size: 15px;
  }
  .container__input {
    height: 30%;
    width: 85%;
  }
  .container__pizza {
    height: 80%;
    width: 80%;
  }
  .container__pizza h3,
  .container__pizza h4 {
    font-size: 15px;
  }
  .img__pizza--card {
    height: 180px;
  }
}
